
.header-main .image-container .header-name:before {
  background-color: #bd0b6a; }

.page-heading h2 {
  color: #bd0b6a; }

.page-heading .icon {
  color: #bd0b6a; }

.subheading h3 {
  border-color: #bd0b6a !important; }
  .subheading h3:before, .subheading h3:after {
    background-color: #bd0b6a; }

.banner-section h1 span {
  color: #bd0b6a; }

.banner-section p .cd-words-wrapper b {
  border-color: #bd0b6a !important; }

.about-info ul li span.title {
  border-color: #bd0b6a !important; }

.btn-main {
  border-color: #bd0b6a !important;
  color: #bd0b6a; }
  .btn-main:after {
    background-color: #bd0b6a; }

.services .service-item .icon {
  color: #bd0b6a !important; }

.testimonial-item .testimonial-content:before {
  color: #bd0b6a !important; }

ul.experience li span.line-left, ul.education li span.line-left {
  background-color: #bd0b6a !important; }
  ul.experience li span.line-left:before, ul.experience li span.line-left:after, ul.education li span.line-left:before, ul.education li span.line-left:after {
    border-color: #bd0b6a !important; }

ul.experience .content h5, ul.education .content h5 {
  color: #bd0b6a; }

.progress .progress-bar {
  background-color: #bd0b6a; }
  .progress .progress-bar:after {
    border-bottom-color: #bd0b6a; }

.portfolio-section .portfolio-filter ul li.active {
  background-color: #bd0b6a; }

.portfolio-section .item figure:before {
  background-color: #bd0b6a; }

.ajax-portfolio-popup .information span.title {
  color: #bd0b6a; }

.blog-section .blog-item .blog-content .cat {
  color: #bd0b6a; }

.contact-info .info-item .icon {
  color: #bd0b6a; }

blockquote {
  border-color: #bd0b6a !important; }

.blog-page .blog-heading .cat {
  color: #bd0b6a; }
